{% extends 'inc/base.html' %}

{% load static %}

{% block content %}
  <legend>new questions</legend>

  {% for question in questions %}
    {% include 'inc/one_question.html' %}
  {% endfor %}

{% endblock content %}

{% block right %}
  <div>NEW</div>
{% endblock right %}
