{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>AskMe project</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/askme.css" %}" rel="stylesheet">
  </head>

  <body>

    {% include 'inc/navbar.html' %}

    <main role="main" class="container mt-5">
      <div class="row mt-5">
        <div class="col-8">
          {% block content %}
          {% endblock content %}
        </div>

        <div class="col-4 mt-5">
          <div class="alert alert-secondary">
            <p class="askme-red-text">
            {% block right %}
              <div>right menu</div>
            {% endblock right %}
            </p>
          </div>
        </div>
      </div>
    </main><!-- /.container -->

    <script src="static/js/jquery-3.4.1.slim.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
