{% load static %}

<div class="media mt-5">
  <img src="{% static "img/avatar.jpg" %}" class="mr-3">
  <div class="media-body">
    <h5 class="mt-0">{{ question.title }}</h5>
    {{ question.text }}
  </div>
</div>
